@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para el menú hamburguesa */
    .navbar-toggler-input {
        display: none;
    }

    .navbar-toggler {
        cursor: pointer;
        display: block;
        position: relative;
        padding: 10px 15px;
    }

    .navbar-toggler-icon {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
        transition: all 0.3s ease;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        position: relative;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .navbar-toggler-icon::before {
        top: -10px;
    }

    .navbar-toggler-icon::after {
        bottom: -10px;
    }

    .navbar-toggler-input:checked + .navbar-toggler .navbar-toggler-icon {
        background-color: transparent;
    }

    .navbar-toggler-input:checked + .navbar-toggler .navbar-toggler-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .navbar-toggler-input:checked + .navbar-toggler .navbar-toggler-icon::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    @media (max-width: 993px) {
        .navbar-collapse {
            display: none;
        }

        .navbar-toggler-input:checked + .navbar-toggler + .navbar-collapse {
            display: block;
            text-align: center;
        }
    }
